* {
    box-sizing: border-box;
}

/* Main-area */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
}


.cv-main-container {
    margin-left: auto;
    margin-right: auto;
}


.cv-secondary-container {
    display: inline-flex;

}


#leadership-section {
    display: block;
    margin-top: 20px;
}



.hr {
        color: #005889;
        width: 100rem;
        height: 7px;
        padding-left: 450px;
        padding-right: 450px;
        background-color: #005889;
}

.skills-section{
    overflow: auto;
    float: left;
    padding: 30px;
    margin: 5px;
}

/* Secondary-area */

h1 {
    margin-top: 50px;
}



h1 span {
    color: #005889;
}


.name {
        color:#005889;
}


.tell {
  list-style-type: none;
  display: inline;
}



.tell li {
    display: inline;

}

h2 {
    color: #005889;
}


/* Utilities */


.span-blue-color {
    color: #005889;
    list-style-type: none;
}

.black-color {
    color: #101214;

}


.skills-utilities {
    list-style: none;
}